@import "tailwindcss";

@theme {
  --color-ey-yellow: #ffe600;
  --color-ey-dark: #2e2e38;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .grayscale-image {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }
  
  .grayscale-image:hover {
    filter: grayscale(0%);
  }
}
